<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <!-- <img src="header-icon.png" width="30" alt="Logo"> -->
            <i class="fab fa-ad fa-x2"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li><a href="/" class="nav-link">Anasayfa</a></li>
                <li><a href="/greencard-hakkinda" class="nav-link">Greencard nedir?</a></li>
                <li><a href="/paketler" class="nav-link">Başvuru formu</a></li>
                <li><a href="/basvuru-sartlari" class="nav-link">Başvuru şartları</a></li>
                <li><a href="/hakkimizda" class="nav-link">Hakkımızda</a></li>
                <li><a href="/iletisim" class="nav-link">İletişim</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="/odeme" class="btn btn-success my-2 my-sm-0">Hemen Başvur!</a>
            </form>
        </div>
    </div>
</nav>