@{
    ViewBag.Title = "Greencard Nedir?";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>GREENCARD NEDİR?</h3>
            <p>
                Amerika Birleşik Devletleri Göçmen Bürosu, Ülkenin nüfusundaki kültür çeşitliliği artırmak amacıyla her yıl dünyanın bir çok farklı ülkesinden göçmen vatandaş kabul etmektedir. Amerika'da göçmen olarak yaşamanın yollarından biri de,
                <strong>Amerika Birleşik Devletleri</strong>'nin 1990 yılından beri resmi olarak yürürlüğe koyduğu
                <strong>Green Card </strong>çekilişine (Diversity Visa Program) katılmaktır. Yapılan bu çekilişle her yıl yaklaşık 55.000 yabancı ülke vatandaşı
                <strong>Green Card </strong>sahibi olmaktadır.
            </p>
            <p>
                Çekilişi kazanan kişiler ABD'de sürekli oturma ve çalışma izni, diğer adıyla
                <strong>Yeşil Kart (Green Card)</strong> kazanmış olur. Yeşil Kart'ın kazanılması durumunda Türk vatandaşlığınız devam ederken, Amerikan vatandaşlarının yararlandığı birçok haktan da faydalanma hakkınız olur.
                <strong> Green Card</strong> aldıktan 5 yıl sonra dileyen Yeşil Kart sahibi, Amerikan vatandaşlığına başvurabilir ve tam vatandaşlık alabilir.
            </p>
            <p>
                Şayet lise veya lise dengi okul mezunu iseniz, iş tecrübesi aranmayan
                <strong>Green Card</strong> başvurusunda her ülkenin şansları eşittir. Hiçbir ücret talep edilmeden bilgisayar ortamında gerçekleştirilen çekilişte sadece kazananlara resmi göçmenlik Bürosunun web sitesinden kazandığına dair bilgi verilir.
            </p>
            <h3>Avantajlar</h3>
            <p>
                <strong>Green Card</strong> sahibi bir kişinin eşi ve 21 yaşın altındaki tüm bekâr çoçukları da ABD'de ömür boyu oturma ve çalışma hakkına sahip olur.
            </p>
            <p>
                <strong>Green Card </strong>sahibi olan kişi, ABD'de seçme seçilme hakkı hariç diğer tüm haklara sahip olur.
            </p>
            <p>
                <strong>Green Card</strong> sahiplerinin ABD'de kendi şirketlerini kurma hakkı vardır.
            </p>
            <p>
                <strong>Green Card</strong> sahipleri, devlet ve özel okullardan burs alarak ya da indirimli olarak eğitimlerine devam edebilir.
                <strong>Green Card sahibi</strong> öğrencilerin, Amerikan okullarında indirimli öğrenim görme ve hükümetin sağladığı burs ve kredilerden yararlanma şansları vardır.
            </p>
            <p>Green Card sahiplerinin Amerikan sürücü belgesi almaya ve Amerika'ya bağlı eyaletlere yolculuk etmeye hakkı vardır.</p>
            <h3>
                Başka Yolu Var Mı?
            </h3>
            <p>Green Card sahibi olmak için en bilindik ve ucuz yol her yıl düzenlenen çekilişe katılmaktır. Ancak Amerika'da süresiz oturma ve çalışma iznine sahip olmanın başka yoları da vardır. Bunlar:</p>
            <ul>
                <li>Amerika Birleşik Devletleri'nde 1.000.000 dolarlık yatırım yapmak,</li>
                <li>Amerika Birleşik Devletleri'nde yaşayan yakın akrabalarınızın size davetiye göndermesi.</li>
                <li>Size iş verecek bir işveren varsa da Green Card sahibi olabilirsiniz. Ancak size iş veren şirket ya da kişi hiçbir Amerikan vatandaşının işini elinden almayacağını kanıtlayıp o işi sadece sizin yapabileceğinizi garanti etmelidir.</li>
            </ul>
            <p>
                Akrabanızın ya da bir şirketin davet etmesi durumunda sizi
                <strong>US Department of Labor</strong>'da uzun ve zahmetli bir süreç beklemektedir.
            </p>
            <h3>Green Card Çekilişi</h3>
            <p>Bir göçmen vizesi olan Green Card, Amerika Birleşik Devletleri'nde süresiz (ömür boyu) oturma ve çalışma izni sağlar.</p>
            <p>
                Green Card almanın birçok yolu vardır. Ancak en kolay ve ucuz yolu her yıl Ekim ayında Amerikan hükümeti tarafından düzenlenen
                <strong>Green Card</strong> çekilişine katılmaktır.
            </p>
            <p class="lead">
                <strong>Öğrenciler İçin</strong>
            </p>
            <p>ABD'deki Devlet Üniversiteleri, Green Card sahibi öğrencilerin öğrenim ücretlerinde %80'e varan indirimler yapabilir. Ayrıca Green Card sahibi bir öğrencinin Amerikan hükümetinden burs ve kredi alma şansı diğerlerine oranla daha yüksektir. Eğitim gördüğünüz süre içinde Green Card'ın  size sağladığı çalışma ve oturma izninden faydalanarak hem çalışıp hem de okuyabilirsiniz.</p>
            <h3>Prosedür</h3>
            <p>Green Card için yapacağınız başvurularda  dikkat etmeniz gereken nokta bilgilerinizin bir kerede, eksiksiz ve hatasız olarak yetkili makamlara ulaşmasıdır. Bunun yanı sıra başvurular kesinlikle internet üzerinden yapılmalı ve başvuru süresi içerisinde yetkili mercilere ulaştırılmalıdır.</p>
            <p>Green Card çekilişi için başvuran herkes eşit şansa sahiptir. Detaylı bilgi için Başvuru Şartları ile Green Card Başvurusu bölümlerimizi inceleyebilirsiniz.</p>
            <h3>Başvuru şartları</h3>
            <p>Green Card çekilişine katılmak isteyenler çekilişe katılmaya uygun ülkelerden birinin vatandaşı olmalıdır. Çekilişe katılmaya uygun olmayan ülkelerin listesi her yıl Amerikan Hükümetince açıklanır. (Türkiye Cumhuriyeti Çekilişe katılmaya uygun bir ülkedir.)</p>
            <p>Başvuru yapacak kişiler lise veya dengi bir okul mezunu olmalıdır. Eğer katılımcı, lise yada dengi bir okul mezunu değilse son 5 (beş) yıl içinde eğitim, tecrübe veya uzmanlık gerektiren bir alanda en az 2 (iki) yıl çalışmış olmalıdır.</p>
            <p>Katılımcılara yaş sınırlaması getirilmez. Kurallar arasında belirtilmese de 18 yaşından büyük olmanız gerekir.</p>
            <p>Katılımcının İngilizce bilmesi gerekmez. Ancak bu durumda ülkeye gittikten sonra yaşayacağınız zorlukları göz önünde bulundurmalısınız.</p>
            <p>Başvuruda bulunacak kişinin bir mal varlığının ya da parasal birikiminin olması gerekmez.</p>
            <p>Green Card başvurularının 2005 yılından itibaren internet üzerinden yapılması zorunlu hale gelmiştir. Posta ile yapılan başvurular değerlendirilmemektedir.</p>
            <p>Evli kişilerin eşleri adına da başvuru yapması şanslarını ikiye katlar. Evli Çiftlerden herhangi biri kazandığında diğer eş ve çocuklar da kazanmış olur.</p>
            <h3>Çekiliş nasıl yapılır?</h3>
            <p>Bütün başvurular Kentucky Consular Center yani Çekiliş Merkezi'nde toplanır ve altı coğrafi bölgeye ayrılarak numaralandırılır. Çekiliş, başvuru sürecinin bitiminde bir bilgisayar tarafından yapılır. Bilgisayar her bölgeden yapılan başvurular arasından rastgele seçimler yapar. Çekilişte bütün başvurular eşit şansa sahiptir.</p>
            <p>ABD Göçmenlik Bürosu çekilişi kazananlara posta yoluyla bilgi vermez. Sonuçlar Göçmenlik Bürosunun resmi web sitesinde Size özel olarak verilen "Confirmation" numarası ile Başvuran kişi tarafından bizzat kontrol edilir. Eğer kazanan talihliler arasındaysanız, başvuru dosyasında evraklarınızı tamamlamak için neler yapmanı zgerektiği ingilizce olarak anlatılır.</p>
            <p>Çekilişi kazananların listesi ABD büyükelçilikleri dahil olmak üzere hiçbir kurum ve kuruluşa verilmemekle birlikte çekilişi kazanamayanlara da bilgi verilmez.</p>
            <h3>ÇEKİLİŞ VE SONRASI</h3>
            <p>Green Card piyangosunu kazananlar Amerika Birleşik Devletleri'ne göç etmek ve ülkede oturmak zorunda değildir. Ancak talihlinin Green Card hakkını kaybetmemesi için Green Card Vizesi'ni aldıktan sonraki 6 ay içinde 1 kez, bunu takip eden senelerde de yılda en az 1 kez giriş yapması gerekir. Green Card sahibinin giriş yaptıktan sonra ülkede kalma süresi önemli değildir.</p>
            <p>
                <a href="/odeme">Başvurunuzu tamamlayın hayallerinizi ertelemeyin.</a>
            </p>
        </div>
    </div>
</div>