@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col">

            <h2>Greencard Hizmet Politikamız</h2>

            <p><strong>Green Card Türkiye, dürüst ve ciddi hizmet anlayışıyla bu sektördeki 1 numaralı firmadır. </strong></p>
            <p>Kesinlikle müşterilerini mağdur etmeyen, tamamen ücretsiz danışmanlık sağlayan, başvuru sahiplerine sonradan sürpriz masraflar çıkarmayan hizmet prensibimiz, bizi <strong>Green Card danışmanlığı</strong> konusunda Türkiye'deki <strong>en güvenilir</strong> servis haline getirmiştir. </p>
            <p>Telefonlarınıza çıkmayan, size güvenilir hiç bir bilgi vermeyen, yanlış bilgilerle kafanızı karıştıran diğer tüm firmalardan hizmet farkıyla her zaman bir adım önde olan <strong>Green Card Türkiye</strong>, sağladığı hizmet kalitesini, sürekli artırarak devam ettirmektedir.</p>
            <p>
                Bu makaleyi hazırlamaktaki amacımız, bize sürekli olarak sorulan çeşitli sorular ve Green Card hakkındaki genel/olağan konularda bilgilendirme yapmaktır. Makalenin içinde, Bizi diğer firmalardan ayıran özelliklerimiz, Fiyat politikamız ve genel kapsamlı bilgilendirmeler mevcuttur.<br />
            </p>
            <h2>Fiyat Politikamız</h2>
            <p>Sizden gelen soruların büyük çoğunluğunu <strong>&quot;fiyatlarınız neden bu kadar ucuz/pahalı?&quot; </strong>cümlesi oluşturuyor. Öncelikle şunu belirtmemizde fayda var ki, <strong>Green Card başvuruları, ABD'nin Resmi göçmenlik Bürosu web sitesinden yapıldığı takdirde ücretsizdir. </strong>Yani hiç bir ücret ödemeden de başvurunuzu yapabilirsiniz. </p>
            <p>Fakat daha önceki makalelerimizde de belirttiğimiz gibi, Resmi Göçmenlik Bürosu web sitesinde başvurular her sene yalnızca 1 ay boyunca açık tutulur ve  ingilizcedir. Ayrıca Karşınızda telefonla veya e-posta ile danışacağınız bir kişi veya kurum bulunmamaktadır. Biz ve bizim gibi <strong>Green Card danışmanlık</strong> firmaları sizin başvurunuza aracılık yaptıkları için ücret talep etmektedirler. </p>
            <p>Kısacası sizin bize yıl içinde yaptığınız başvuru bizim tarafımızdan ABD'nin belirlediği tarihlerde resmi olarak gerçekleştirilir. Başvuru neticesinden size bir onay kodu (<strong>CONFIRMATION NUMBER</strong>) verilir. Bu kod vasıtasıyla başvurunuzu ister resmi siteden, isterseniz de firmamızdan takip edebilirsiniz. </p>
            <p>Sizin de anlayacağınız üzere para ödeyerek yaptığınız her başvuru bir firma vasıtasıyla gerçekleştirilmektedir. Biz veya diğer firmalar da fiyatlarını, vermiş oldukları hizmetin kalitesine, güvenilirlik ve bilinirlik oranına göre kendileri belirlemektedir. <strong>Neticede Green Card Türkiye olarak en kaliteli hizmeti size en uygun fiyata iletme politikamıza göre ücretler en iyi şekilde ayarlanmıştır.</strong> Çok daha pahalı veya çok daha ucuz fiyatlarla hizmet veren Green Card danışmanlık şirketleri de mevcuttur. Fakat bir çoğunun kullanım sözleşmelerini okuduğunuzda size Green Cardla alakasız ürünleri de fiyata dahil edip şişirme ücretler aldığını görebilirsiniz. </p>
            <p>Veya en kötüsü başınıza gelebilir... <strong>Uygun fiyatla başvuru yapayım derken tekrar tekrar ek ücretler ödeyebilirsiniz. </strong>Bunlara dikkat etmenizi önemle tavsiye ederiz. </p>
            <h2>Diğer firmalardan farkımız</h2>
            <p>Bizi diğer<strong> &quot;Green Card&quot;</strong> firmalarından ayıran en büyük özelliğimiz hiç şüphesiz ki hizmet anlayışımızdır. <strong>Her aradığınızda tüm sorularınıza samimiyetle yanıt verecek danışman arkadaşlarımız 24 saat görev yapmaktadır. </strong>Üstelik danışmanlık hizmetimiz de tamamen ücretsizdir. İster bizim firmamız aracılığıyla başvuru yapmış olun isterseniz başka bir firmayla başvuru yapmış olun, istediğiniz her an bizi arayıp tüm bilmek istediklerinizi sorabilirsiniz. Kesinlikle doğru yanıtlar alacağınızı garanti etmekteyiz. </p>
            <p>Dikkat ederseniz bizim dışımızdaki Green Card firmalarının web sitelerinin çoğunda telefon numaraları bile yer almamaktadır. Ücret ödeyip başvuru yapsanız bile istediğiniz zaman arayıp bilgi almanız zordur. Mesai saatleri, meşgul telefonlar, bilgisiz danışmanlarla karşılaşmanız mümkündür.<strong> Dilerseniz &quot;Green Card konusunda cevabını sizin de bildiğiniz bir kaç soruyu&quot; deneme maksadıyla çeşitli firmalara telefon veya e-posta aracılığıyla sorun... </strong>En doğru ve en hızlı cevabı Green Card Türkiye'den aldığınızı siz de göreceksiniz.</p>
            <p>Green Card Türkiye, yani biz.. Size Green Card başvuru ücreti dışında her hangi bir masraf çıkartmayız. <strong>Kullanım sözleşmemizde gizlenmiş maddeler yoktur.</strong> Bizde herşey açık ve nettir. Yalnızca bir kere başvuru ücreti ödersiniz. O kadar. </p>
            <h2>Sizin için neler yapıyoruz</h2>
            <p>Başvurunuzla kişisel olarak ilgileniyoruz.</p>
            <p>Yılın 365 günü katılım imkanı veriyoruz.    </p>
            <p>Fotoğrafınızın nasıl çekilmesi gerektiği hakkında detaylı bilgi verme ve yanlış çekilmiş fotoğrafların elektronik ortamda kurallara uygun hale dönüştürülmesini sağlıyoruz.    </p>
            <p>Başvuru formunuzu internet aracılığıyla dolduruyoruz.    </p>
            <p>Fotoğrafınızın ve bilgilerinizin doğru zamanda ve istenilen şekilde Amerika‘da ki ilgili makama ulaştırılmasını sağlıyoruz.    </p>
            <p>Tarafınızdan bize gönderilen başvurular ABD resmi başvuru merkezine iletildikten sonra tahminen Ekim ayında <a href="http://www.greencardturkiye.com" title="Green Card">Green Card</a> başvuru onay kodunu size yolluyoruz. Ve başvurunuzun sorunsuz şekilde yapıldığına dair bir onay olan (Success Message) ekran görüntüsünü e-mailinize gönderiyoruz.</p>
            <p>Kazanan şanslı başvuru sahiplerine danışmanlık hizmeti veriyoruz.    </p>
            <p>Kazananlara ücretsiz oryantasyon ve Amerikan kültürü hakkında genel bilgi yardımı veriyoruz.</p>
        </div>
    </div>
</div>