@{
    ViewBag.Title = "Başvuru Şartları";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h4>
                Green Card Başvurusu yapabilmek
                <br />
                için gereken şartlar nelerdir?
            </h4>
            <p>En az Lise veya lise dengi okul mezunu olmak başlıca şarttır. </p>
            <p>
                <strong>Eğer lise veya dengi bir okul mezunu değilseniz</strong>...
            </p>
            <p>Son 5 yıl içinde en az 2 yıl, mesleki tecrübe gerektiren bir iş kolunda çalışmış olmanız gerekmektedir.</p>
            <p>
                <strong>Eğer lise veya dengi okul mezunu iseniz iş tecrübesi aranmaz.</strong>
            </p>
            <p>Liseyi açıktan okuyorsanız, başvuru yapabilirsiniz.</p>
            <p>Lisenin bitmesine 1 seneden az kaldıysa başvuru yapabilirsiniz.</p>
            <p>
                <strong>İngilizce bilmek  şart değildir.</strong>
            </p>
            <p>Green Card'a başvuru yapabilmek için gereken bir yaş sınırı yoktur.</p>
            <p>
                <strong>Check-up veya sağlık raporu istenmez. </strong>Bu konuda bazı dolandırıcı
                <br />
                firmalar ek ücretler isteyerek sağlık raporu hizmeti verdiklerini söylemektedir. Bunlara aldanmayınız. Green Card başvurusu için Check Up taraması
                <br />
                veya sağlık raporuna ihtiyaç yoktur.
            </p>
            <p>
                Çekilişe başvuruda bulunmak için mesleğinizin, yaşınızın, yüksek lisansın, üniversite mezunu olmanızın
                <strong> hiçbir etkisi yoktur.</strong>
            </p>
            <p>
                Başvurunuz için
                <strong>önem taşıyan tek şey</strong> bilgilerinizin bir kerede, eksiksiz ve hatasız doldurularak başvuru süresi içerisinde, ABD yetkili mercileri tarafından belirtilen, elektronik transfer sayfasından yapılmasıdır.
            </p>
        </div>
    </div>
</div>