@{
    ViewBag.Title = "Paketler";
}

<div class="container">
    <div class="p-3 mb-2 mt-3 bg-info text-light border rounded">Standart Başvurular</div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Standart</h4>
                <span class="text-muted">1 Kişilik Başvuru</span>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">90&#8378;</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>1 Sene için 1 kişilik</li>
                    <li>Uzman Danışman desteği</li>
                    <li>7x24 Mail desteği</li>
                    <li>Telefon desteği</li>
                    <li>Süreç takibi</li>
                    <li>Fotoğraf düzenleme</li>
                </ul>
                <a href="/basvuru-formu" class="btn btn-lg btn-block btn-outline-success">Hemen başvur</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Evli Çift Paketi</h4>
                <span class="text-muted">2 Kişilik Başvuru</span>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">150&#8378;</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>1 Sene için 2 kişilik</li>
                    <li>Uzman Danışman desteği</li>
                    <li>7x24 Mail desteği</li>
                    <li>Telefon desteği</li>
                    <li>Süreç takibi</li>
                    <li>Fotoğraf düzenleme</li>
                </ul>
                <a href="/basvuru-formu" class="btn btn-lg btn-block btn-outline-warning">Hemen başvur</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Aile Paketi</h4>
                <span class="text-muted">Aile Başvurusu</span>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">300&#8378;</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>1 Sene için evli ve çocuklu çiftler</li>
                    <li>Uzman Danışman desteği</li>
                    <li>7x24 Mail desteği</li>
                    <li>Telefon desteği</li>
                    <li>Süreç takibi</li>
                    <li>Fotoğraf düzenleme</li>
                </ul>
                <a href="/basvuru-formu" class="btn btn-lg btn-block btn-outline-primary">Hemen başvur</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="p-3 mb-2 mt-3 bg-warning text-dark border rounded">Kampanyalı Başvurular</div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Standart</h4>
                <span class="text-muted">1 Kişilik Başvuru</span>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">299&#8378;</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>5 Sene için 1 kişilik</li>
                    <li>Uzman Danışman desteği</li>
                    <li>7x24 Mail desteği</li>
                    <li>Telefon desteği</li>
                    <li>Süreç takibi</li>
                    <li>Fotoğraf düzenleme</li>
                </ul>
                <a href="/basvuru-formu" class="btn btn-lg btn-block btn-outline-success">Hemen başvur</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Evli Çift Paketi</h4>
                <span class="text-muted">2 Kişilik Başvuru</span>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">399&#8378;</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>5 Sene için 2 kişilik</li>
                    <li>Uzman Danışman desteği</li>
                    <li>7x24 Mail desteği</li>
                    <li>Telefon desteği</li>
                    <li>Süreç takibi</li>
                    <li>Fotoğraf düzenleme</li>
                </ul>
                <a href="/basvuru-formu" class="btn btn-lg btn-block btn-outline-warning">Hemen başvur</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Aile Paketi</h4>
                <span class="text-muted">Aile Başvurusu</span>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">699&#8378;</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>5 Sene için evli ve çocuklu çiftler</li>
                    <li>Uzman Danışman desteği</li>
                    <li>7x24 Mail desteği</li>
                    <li>Telefon desteği</li>
                    <li>Süreç takibi</li>
                    <li>Fotoğraf düzenleme</li>
                </ul>
                <a href="/basvuru-formu" class="btn btn-lg btn-block btn-outline-primary">Hemen başvur</a>
            </div>
        </div>
    </div>
</div>